.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{
    flex: none;
    max-width: none;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
    flex: none;
    max-width: none;
}