.search-container {
    display: inline-block;
    padding-right: 10px;
    position: relative;
    width: 70%;
    input {
        border-radius: 8px;           
        border:1px solid #8ed0e8;
        width: 100%;
        height: 25px;
        padding-left: 3px;
    }
    button{
        position: absolute;
        right: 3%;
        top: 7px;
        background-color: transparent;
        border: none;
        .fa-search{
            color: #8ed0e8;
        }
    } 
}

.header {
    position: relative;

}
.background-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.background-fade-show {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
/*------------------------------------*\
            MOBILE NAV
\*------------------------------------*/
.mobile-nav-container {
    display: none;
    padding: 20px;
    position: absolute;
    right: -300px;
    width: 300px;
    top: 0;
    transition: 0.3s;
    z-index: 3;
    .woocommerce-cart-icon-container{
        display: inline-block;
        margin-right: 0;
        text-align: right;
        vertical-align: middle;
        width: 29%;
        a {
            color: grey;
        }
    }
    .close-menu {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 25px;
        &:hover {
            cursor: pointer;
        }
    }
    .mobile-nav {
        height: 100%;
        margin-top: 50px;
        .search-container {
            margin-bottom: 20px;
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            li {
                list-style: none;
                border-bottom: 1px solid $purple;
                a {
                    font-size: 20px;
                    color: $purple;
                    display: block;
                    padding: 20px 10px;

                }
                &:hover {
                    background-color: $purple;
                    text-decoration: none;
                    a{
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.mobile-nav-container-show {
    right:0;
    display: block;
    background-color: $white;
}
.mobile-menu-button {
    font-size: 20px;
    color: $purple;
    &:hover {
        cursor: pointer;
    }
}
/*------------------------------------*\
                NAV
\*------------------------------------*/
.top-nav{
    .search-container {
        display: inline-block;
        padding-right: 10px;
        position: relative;
        width: auto;
        padding-left: 5.5%;
        input {
            border-radius: 8px;           
            border:1px solid #8ed0e8;
            width: 100%;
            height: auto;
        }
        button{
            position: absolute;
            right: 3%;
            top: 0;
            background-color: transparent;
            border: none;
            .fa-search{
                color: #8ed0e8;
            }
        } 
    }
    .nav-logo-container{
        display: inline-block;
        .header-nav {
            display: inline-block;
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    display: inline-block;
                    font-size: 14px;
                    position: relative;
                    a{
                        color: $purpleText;
                    }
                }

                li:hover > ul{
                    display:block;

                    li {
                        overflow: visible;
                        padding: 0;
                        padding: 5px 16px;
                    }
                }

                .sub-menu {
                    display: none;
                    position: absolute;
                    background: #fff;
                    border: 1px black;
                    z-index: 1;

                    li {
                        overflow: hidden;
                        border-bottom: 1px solid #e5e5e5;
                        min-width: 140px;
                    }
                }
            }
        }

        .left-header-nav{
            li {
                padding: 0 20px;
            }

            #menu-left-header-menu-1{
              padding-left: 40px;
            }
        }
        .right-header-nav{
            li {
                padding: 0 20px;
            }
        }
        .logo-container {
            display: inline-block;
        }
    }
    .woocommerce-cart-icon-container{
        position: absolute;
        top: 23%;
        right: 10px;
        a {
            color: grey;
        }
    }
}
    


/*------------------------------------*\
                BANNER ALERT
\*------------------------------------*/

.banner-alert {
    -webkit-box-shadow: inset -2px 14px 5px -10px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -2px 14px 5px -10px rgba(0,0,0,0.1);
    box-shadow: inset -2px 14px 5px -10px rgba(0,0,0,0.1);
    background-color: $pink;
    padding: 5px 0;
    p{
        margin-bottom: 0;
    }
}

.alert-text{
    a {
        color: inherit;
        cursor: pointer;
    }

    a:hover {
        color: white;
        text-decoration: none;
    }
}
/*------------------------------------*\
                WOOCOMMERCE
\*------------------------------------*/
.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}
@media screen and (max-width: 1200px){
    .top-nav {
        .nav-logo-container{
            .header-nav{
                ul{

                    #menu-left-header-menu-1{
                      padding-left: 0;
                    }

                    li {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

